@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');

/*--------HEADER--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.frase-encabezado {
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Pacifico', cursive;
    font-size: large;
    font-weight: 200;
    width: 100vw;
    justify-content: center;
    border: 2px solid black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {

    height: 200px;
    width: 350px;
}

.menu {
    background-color: white;
    border: 3px solid black;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegador {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navegador li {
    border-radius: 3px;
    margin: 0 20px;
}

.navegador li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: #003300;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
}

.navegador li:hover,
li.active {
    background-color: #33ff99;
    transition: 0.3s;

}

.b-menu {
    margin-right: 45px;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 952px) {


    .navegador li a {
        font-size: 12px;
    }
}

@media screen and (max-width: 820px) {
    .frase-encabezado {
        font-size: medium;
    }



    .menu {
        height: 65px;
    }

    .b-menu {
        display: inline-flex;
    }

    .logo {
        height: 180px;
        width: 230px;
    }

    .navegador {
        position: fixed;
        width: 100vw;
        height: calc(100%-65px);
        background-color: aquamarine;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        z-index: 1;
    }

    .navegador li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu li:hover {
        background: none;
    }

    .navegador li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .navegador li a:hover {
        color: #33ff99;
    }
}

/*-----------FIN HEADER---------*/


/*-----------INICIO FOOTER-------*/

.clase-footer {

    border: 1px solid green;
    background-color: #33ff99;
    height: 150px;
    margin-top: 45px;
}

.medios-pago {

    float: left;
}

.t-mediospago {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: black;
    padding: 2px 10px;
    margin: 10px;
}

.medios-pago i {

    font-size: 40px;
    text-align: left;
    margin: 5px;
    padding: 2px 10px;
    color: black;
}

.medios-pago i:hover {
    transform: scale(1.5);
    transition: all 0.5 ease;
}

.ubicacion {

    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 5px 15px;
    margin: 10px;
    text-align: right;
}

.direccion {
    font-family: 'Kanit', sans-serif;
    text-align: right;
}

/*----------FIN FOOTER----------*/




/*----------PÁGINA INICIO-------*/


.imagen-inicial {
    height: auto;
    width: auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}





body {
    font-family: 'Kanit', sans-serif;
    font-size: large;
    background: rgb(254, 255, 255);
    background: radial-gradient(circle, rgba(254, 255, 255, 1) 0%, rgba(148, 233, 207, 0.5984768907563025) 100%);
}


.descripcion {
    margin: 0%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 400px;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
    justify-items: center;
    padding-top: 20px;

}

.parrafo-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.contenido-parrafo1 {
    width: 700px;
}


.imagen-mapa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.puntos-venta {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.puntos-venta i {
    font-size: xx-large;
}

.lista-1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

.lista-1 i:hover {
    transform: scale(1.5);
    transition: all 0.5 ease;
}

.cards {
    display: flex;
    align-items: center;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 940px;
    gap: 15px;
    margin: auto;
    justify-items: center;
    align-items: center;
    margin-left: 45px;

}

.tarjeta-movil {
    height: 225px;
    width: 300px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.tarjeta-movil:hover {
    height: 450px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}



.card-encabezado img {
    position: relative;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border-left: 8px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.card-encabezado {
    position: relative;

}

.card-encabezado:before,
.card-encabezado:after {
    content: ' ';
    position: absolute;
    opacity: .7;
}


.card-encabezado:after {
    border-radius: 50%;
    z-index: 20;
    background-color: yellow;
    width: 50px;
    height: 50px;
    top: 0;
    right: 25px
}

.card-encabezado:before {
    width: 70px;
    height: 70px;
    bottom: 0;
    left: -10px;
    border-radius: 20px;
    background-color: rgb(238, 42, 98);
    transform: rotate(120deg);

}



.info-personal:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    line-height: 25px;
}

.info-personal:nth-child(2) {
    margin: 15px 0;
}

.info-personal {
    color: #fff;
}

@media screen and (max-width: 600px) {
    .cards {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .descripcion {
        margin: 0%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 5px;
        grid-row-gap: 15px;
        justify-items: center;
    }

    .parrafo-1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .contenido-parrafo1 {
        width: 300px;
        font-size: medium;
        text-align: center;
    }


    .imagen-mapa {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .puntos-venta {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}

@media screen and (max-width: 858px) {


    .cards {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .container {
        grid-template-columns: 2fr;

    }
}

/*----------FIN PÁGINA INICIO-------*/


/*-----------PÁGINA SERVICIOS------*/

.title-servicios {
    text-align: Center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #003300;
    background-color: white;

}


.f-servicios {
    background-color: white;
}

.graphic {
    position: relative;
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;

}

.graphic-man {
    grid-column-start: 1;
    height: 400px;
    margin-left: 200px;
}

.graphic-circles {
    grid-column-start: 2;
    height: 400px;
}



.graphic-herramienta {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 22%;
    top: 42%;
    animation: turn2 15s linear infinite;


}

.graphic-circle2 {
    animation: turn1 15s linear infinite;
}


@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }

}

@keyframes turn2 {
    to {
        transform: rotate(-1turn);
    }

}

.tarjetas-servicioss {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.tarjeta-1 {

    margin: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-1 {
    background-color: rgb(81, 93, 112);
    padding: 9px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 320px;
    font-family: 'Kanit', sans-serif;
}


.a-img {
    width: 295px;
    margin: 25px;
}

.borde-tarjeta1 {
    background-color: whitesmoke;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.295);
}

.title-t1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 300 bold;
}

.b-t1 {
    padding: 5px 5px;
    border-radius: 5px;
    border-color: transparent;

}

.b-t1:hover {
    background-color: gray;

}

.a-img2 {
    width: 295px;
}

.a-img3 {
    width: 295px;
}

.a-img4 {
    width: 300px;
    height: 200px;
}

.a-img5 {
    width: 300px;
    height: 200px;
}

.a-img6 {
    width: 300px;
    height: 200px;
}


@media screen and (max-width: 858px) {
    .graphic-man {
        grid-column-start: 1;
        height: 300px;
        margin-left: 150px;
        width: auto;
    }

    .contenido-1 {
        font-size: small;
    }

    .title-t1 {
        font-size: 20px;
    }

    .borde-tarjeta1 {

        width: 317px;

    }

    .graphic-circle2 {
        height: 300px;
        width: 300px;
    }

    .graphic-herramienta {

        width: 50px;
        height: 50px;
        right: 25%;
        top: 33%;



    }


}

@media screen and (max-width: 600px) {

    .graphic-man {
        grid-column-start: 1;
        height: 300px;
        margin-left: 30px;
        width: auto;
    }

    .contenido-1 {
        font-size: small;
    }

    .title-t1 {
        font-size: 20px;
    }


    .graphic-circle2 {
        height: 300px;
        width: 300px;
    }

    .graphic-herramienta {

        width: 50px;
        height: 50px;
        right: 25%;
        top: 33%;



    }



}

/*.----- FIN SECCIÓN SERVICIOS----*/

.title-quienessomos {
    text-align: Center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #003300
}


/*--------SECCIÓN GALERIA------**/

.bo-galeria {
    background-color: antiquewhite;
}

.title-galeria {
    text-align: Center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #003300
}

.df-galeria {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;

}

/*---Slider1---*/

.cont-galeria {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.zonas-humedas {
    font-family: 'Kanit', sans-serif;
    font-weight: 300 bold;
}


.slider {
    width: 310px;
    height: 310px;
    border: 1px solid cyan;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 3px black;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    opacity: 0;
    transition: all 0.7s;
}

.slider input {
    display: none;
}

.slider input[type="radio"]:checked~img {
    opacity: 1;
}

.slider input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.slider input[type="radio"]:checked+label {
    background: black;
    border: 2px solid white;
}

/*---Fin Slider 1---*/

/*---Slider2---*/
.cont-galeria2 {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apartamentos {
    font-family: 'Kanit', sans-serif;
    font-weight: 300 bold;
}


.slider2 {
    width: 380px;
    height: 310px;
    border: 1px solid cyan;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 3px black;
}

.slider2 img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    opacity: 0;
    transition: all 0.7s;
    height: 95%;
    width: 95%;
}

.slider2 input {
    display: none;
}

.slider2 input[type="radio"]:checked~img {
    opacity: 1;
}

.slider2 input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.slider2 input[type="radio"]:checked+label {
    background: black;
    border: 2px solid white;
}

/*---Fin Slider 2---*/


/*---Slider3---*/

.cont-galeria3 {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vias {
    font-family: 'Kanit', sans-serif;
    font-weight: 300 bold;
}


.slider3 {
    width: 400px;
    height: 310px;
    border: 1px solid cyan;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 0 0 3px black;
}

.slider3 img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    opacity: 0;
    transition: all 0.7s;
    height: 95%;
    width: 95%;
}

.slider3 input {
    display: none;
}

.slider3 input[type="radio"]:checked~img {
    opacity: 1;
}

.slider3 input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.slider3 input[type="radio"]:checked+label {
    background: black;
    border: 2px solid white;
}

/*---Fin Slider 3---*/

/*---------FIN SECCIÓN GALERIA----------*/



/*----------INICIO SECCIÓN CONTACTO-----*/
.title-contacto {
    text-align: Center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #003300
}


form {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border: 2px solid cyan;
    border-radius: 15px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

#button {
    background: #31384a;
    Color: #fff;


}

#button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.24)
}

.title-contacto i:hover {
    transform: scale(1.5);
    transition: all 0.5 ease;
}

/*----------FIN SECCIÓN CONTACTO-----*/



/*---INICIO SECCIÓN QUIENES SOMOS----*/
.contenido-quienesomos {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-abstracto-formas-blancas_79603-1362.jpg?w=2000);
}

.title-quienessomos {
    font-size: 35px;
    color: #000;
}

.d-quienessomos {
    display: flex;
    align-items: center;
    justify-content: Center;

    margin: 20px;
}

.tarjeta-qs {
    position: relative;
    width: 300px;
    height: 320px;
    margin: 20px;
}

.tarjeta-qs .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}


.tarjeta-qs .front {
    transform: perspective(600px) rotate(0deg);
    box-shadow: 0 5px 10px #000;

}


.tarjeta-qs .front img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.tarjeta-qs .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.tarjeta-qs .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 5px 10px #000;
    text-align: center;
}


.tarjeta-qs .back {
    font-size: 15px;
}

.tarjeta-qs .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 1px;

}

.tarjeta-qs:hover .front {
    transform: perspective(600px) rotateY(180deg);

}


.tarjeta-qs:hover .back {
    transform: perspective(600px) rotateY(360deg);

}

@media screen and (max-width: 600px) {
    .d-quienessomos {
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 858px) {


    .d-quienessomos {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

}

/*----------FIN SECCIÓN QUIENES SOMOS------*/